// Imports -------------------------------------------------------------------
@import "compass/css3";

@import "partials/global";
@import "partials/shell";
@import "partials/photo-list";
@import "partials/find-photos";

#main {
  height: 600px;
  border-top: 7px solid  #1A1496;
  padding: 1em;
  overflow-y: scroll;
}

.home {
  text-align: center;
  
  h1 {
    font-size: 3em;
    margin: 1em 0;
  }
  h2 {
    font-size: 1.5em;
  }

}
